.header-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header-container h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    color: #eefada;
}
.header-container p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 8px;
}
@media screen and (max-width:479px) {
    .header-container h1{
        font-size: 18px;
        line-height: normal;
        text-wrap: wrap;
        margin: 0 10px;
    }
    .header-container p{
        font-size: 13px;
        font-weight: 500;
        margin: 0px 10px;
    }
    
}
@media screen and (min-width:480px) and (max-width:767px) {
    .header-container h1{
        font-size: 22px;
        line-height: 30px;
        margin: 0px 10px;
    }
    .header-container p{
        margin: 0px 10px;
    }
}